contentManagement.css

.content-management-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8; /* Light background */
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow */
}


.content-management-container .content-management-h3 {
  margin-top: 20px;
}

.content-management-container .content-management-section {
  margin-top: 20px;
}

.content-management-container .content-management-input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.content-management-container .content-management-question-section {
  background-color: #fff; /* White background for each question section */
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
}



.content-management-container .content-management-button {
  background-color: rgb(219, 139, 215); /* Magenta button background */
  color: #fff; /* White button text */
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.content-management-container .content-management-button:hover {
  background-color: #b42986; /* Darker magenta on hover */
}

.content-management-container .content-management-ul {
  list-style-type: none;
  padding: 0;
}

.content-management-container .content-management-ul .content-management-li {
  background-color: #fff; /* White background for list items */
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
}
